<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <p class="page-title">order input</p>
      <%= render "members/shared/error_messages", resource: @destination %>
      <p><strong>支払方法</strong></p>
      <%= form_with url: orders_info_path, local: :true do |f| %>
        <div class= "ml-4 mt-2">
          <%= f.radio_button :payment_method ,0 ,checked: true %>
          <%= f.label :payment_method,  Order.payment_methods.keys.to_a[0] %>
        </div>
        <div class= "ml-4">
          <%= f.radio_button :payment_method ,1 %>
          <%= f.label :payment_method,  Order.payment_methods.keys.to_a[1] %>
        </div>
        <strong>お届け先</strong>
        <div class= "ml-4 mt-2">
          <%= f.radio_button :destination_kind ,0 ,checked: true %>
          <%= f.label :destination_kind,  "ご自身の住所" %>
          <div class= "ml-4">〒<%= add_ress(@member.postal_code) %><br><%= @member.address %><br><%= @member.last_name %> <%= @member.first_name %></div>
        </div>
        <% if @member.destinations.any? %>
          <div class= "ml-4">
            <%= f.radio_button :destination_kind ,1 %>
            <%= f.label :destination_kind,  "登録住所から選択" %>
            <div class= "ml-4"><%= f.collection_select :destinations, @member.destinations, :id ,:destinations_address, class: "col-10" %></div>
          </div>
        <% end %>
        <div class= "ml-4 mt-2">
            <%= f.radio_button :destination_kind ,2 %>
            <%= f.label "新しいお届け先" %>
          <div class= "ml-4">
            <%= form_with model: @destination, url: orders_info_path, method: :post, local: :true do |f| %>
              <div class="mt-2 row">
                <%= f.label "郵便番号(ハイフン無し)", class:"col-3 col-form-label" %>
                <div class="col-3"><%= f.text_field :postal_code, placeholder: "1234567", maxlength: 7,minlength: 7, class:"form-control form-control-sm",id: "form-border" %></div>
              </div>
              <div class="mt-2 row">
                <%= f.label "住所", class:"col-3 col-form-label" %>
                <div class="col-8"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園0-0", class:"form-control form-control-sm",id: "form-border" %></div>
              </div>
              <div class="mt-2 row">
                <%= f.label "宛名", class:"col-3 col-form-label" %>
                <div class="col-4"><%= f.text_field :name, placeholder: "長野恵子", class:"form-control form-control-sm",id: "form-border" %></div>
              </div>
            <% end %>
          </div>
        <%= f.submit "確認画面へ進む", class: "mt-2 btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>