<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <p class="page-title">order history details</p>
      <div class= "d-flex justify-content-between">
        <div class="col-8" id="col-left0">
          <strong>注文情報</strong>
          <table class= "table" id= "table-borders">
            <thead class="table-skyblue">
              <tr>
                <th width="110px">注文日</th>
                <td><%= l @order.created_at,format: :short %></td>
              </tr>
              <tr>
                <th class="align-middle">配送先</th>
                <td>〒<%= add_ress(@order.postal_code) %><br><%= @order.address %><br><%= @order.name %></td>
              </tr>
              <tr>
                <th>支払方法</th>
                <td><%= @order.payment_method %></td>
              </tr>
              <tr>
                <th>ステータス</th>
                <td><%= @order.received_status %></td>
              </tr>
            </thead>
          </table>
        </div>
        <div>
          <strong>請求情報</strong>
          <table class= "table" id= "total-table">
            <thead class="table-skyblue" id= "table-borders">
              <tr>
                <th width= "95px">商品合計</th>
                <td>￥<%= (@order.total_price - @order.potage).to_s(:delimited, delimiter: ',') %></td>
              </tr>
              <tr>
                <th>配送料</th>
                <td>￥<%= @order.potage.to_s(:delimited, delimiter: ',') %></td>
              </tr>
              <tr>
                <th>請求金額</th>
                <td>￥<%= @order.total_price.to_s(:delimited, delimiter: ',') %></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div>
        <strong>注文内容</strong>
        <table class= "table table-sm" id= "table-borders">
          <thead>
            <tr class="table-skyblue">
              <th>商品</th>
              <th width= "100px">単価(税込)</th>
              <th width= "100px">個数</th>
              <th width= "110px">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_products.each do |order_product| %>
              <tr>
                <td><%= link_to product_path(order_product.product.id) do %>
                  <%= attachment_image_tag order_product.product, :image, size:"50x50", format: 'jpeg', fallback:"no_image.jpg" %>
                  <span class= "ml-2"><%= order_product.product.name %></span>
                <% end %></td>
                <td class="align-middle">￥<%= (order_product.subtotal_price / order_product.quantity).to_s(:delimited, delimiter: ',') %></td>
                <td class="align-middle"><%= order_product.quantity.to_s(:delimited, delimiter: ',') %></td>
                <td class="align-middle">￥<%= order_product.subtotal_price.to_s(:delimited, delimiter: ',') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
