<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  </head>

  <body>
    <div class="back-ground">
      <div class="container-fuluid ">
        <div class="row">
          <div class="col-10 offset-1 color">
            <div class="d-flex justify-content-between border-head">
              <div class="d-flex">
                <div>
                  <%= link_to root_path do %>
                    <%= image_tag 'naganologo.png',class: "mainlogo" %>
                  <% end %>
                </div>
                <div>
                  <% if member_signed_in? %>
                    <div class= "welcome">
                      <span class="name">Welcome to Mx.<%= current_member.last_name %> <%= current_member.first_name %></span>
                    </div>
                  <% end %>
                   <div>
                     <strong id="notice"><%= notice %></strong>
                   </div>
                </div>
              </div>
              <div>
                <nav class="navbar  navbar-expand-lg navbar-light text-align-center gnav">
                  <ul class="navbar-nav justfy-content-center height-60px">
                    <% if member_signed_in? %>
                      <li class="nav-item"><%= link_to 'My page', members_path(current_member), class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to 'Items', products_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to "Cart｛#{current_member.cart_products.count}｝", cart_products_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><p><%= link_to "Log out", destroy_member_session_path, method: :delete, class: "btn btn-warning" %></p></li>
                    <% elsif admin_signed_in? %>
                      <li class="nav-item"><%= link_to '商品一覧', admin_products_path , class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to '会員一覧', admin_members_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to '注文履歴一覧', admin_orders_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-warning" %></li>
                    <% else %>
                      <li class="nav-item"><%= link_to 'About', about_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to 'Items', products_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to 'Sign up', new_member_registration_path, class: "btn btn-warning" %></li>
                      <li class="nav-item"><%= link_to 'Log in', member_session_path, class: "btn btn-warning" %></li>
                    <% end %>
                  </ul>
                </nav>
                <div class="search_container d-flex justify-content-end pr-4 s-space">
                  <% if request.fullpath.include?("admin/member") &&  admin_signed_in? %>
                    <%= form_with url: admin_members_path, method: :get, local: true do |f| %>
                      <%= f.text_field :word, :value => @word , placeholder: "  を入力して下さい(管理者)"  %>
                      <%= f.submit "" %>
                    <% end %>
                  <% elsif request.fullpath.include?("admin/products")  &&  admin_signed_in? %>
                    <%= form_with url: admin_products_path, method: :get, local: true do |f| %>
                      <%= f.text_field :word, :value => @word , placeholder: "  を入力して下さい(管理者)" %>
                      <%= f.submit "" %>
                    <% end %>
                  <% elsif request.fullpath.include?("admin") != true  %>
                    <%= form_with url: products_path, method: :get, local: true do |f| %>
                      <%= f.text_field :word, placeholder: "  を入力して下さい"%>
                      <%= f.submit "" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= yield %>
          </div>
          <footer class="col-10 offset-1 ">
            <p>Copyright&copy; Sample Gallery</a> All Rights Reserved.</p>
            <%= link_to root_path do %>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-instagram-square"></i>
            <% end %>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
